.ash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  overflow: hidden;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

#particles-js canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.ash-particle {
  position: absolute;
  background: var(--ash-color);
  border-radius: 50%;
  opacity: 0;
  animation: ashFall linear infinite;
}

.ash-particle:nth-child(1) {
  left: 10%;
  width: 3px;
  height: 3px;
  animation-duration: 15s;
  animation-delay: 0s;
}
.ash-particle:nth-child(2) {
  left: 20%;
  width: 2px;
  height: 2px;
  animation-duration: 12s;
  animation-delay: 2s;
}
.ash-particle:nth-child(3) {
  left: 30%;
  width: 4px;
  height: 4px;
  animation-duration: 18s;
  animation-delay: 4s;
}
.ash-particle:nth-child(4) {
  left: 40%;
  width: 2px;
  height: 2px;
  animation-duration: 14s;
  animation-delay: 1s;
}
.ash-particle:nth-child(5) {
  left: 50%;
  width: 3px;
  height: 3px;
  animation-duration: 16s;
  animation-delay: 3s;
}
.ash-particle:nth-child(6) {
  left: 60%;
  width: 2px;
  height: 2px;
  animation-duration: 13s;
  animation-delay: 5s;
}
.ash-particle:nth-child(7) {
  left: 70%;
  width: 4px;
  height: 4px;
  animation-duration: 17s;
  animation-delay: 2s;
}
.ash-particle:nth-child(8) {
  left: 80%;
  width: 3px;
  height: 3px;
  animation-duration: 15s;
  animation-delay: 4s;
}
.ash-particle:nth-child(9) {
  left: 90%;
  width: 2px;
  height: 2px;
  animation-duration: 14s;
  animation-delay: 1s;
}
.ash-particle:nth-child(10) {
  left: 15%;
  width: 3px;
  height: 3px;
  animation-duration: 16s;
  animation-delay: 3s;
}
.ash-particle:nth-child(11) {
  left: 25%;
  width: 2px;
  height: 2px;
  animation-duration: 13s;
  animation-delay: 0s;
}
.ash-particle:nth-child(12) {
  left: 35%;
  width: 4px;
  height: 4px;
  animation-duration: 19s;
  animation-delay: 5s;
}
.ash-particle:nth-child(13) {
  left: 45%;
  width: 3px;
  height: 3px;
  animation-duration: 15s;
  animation-delay: 2s;
}
.ash-particle:nth-child(14) {
  left: 55%;
  width: 2px;
  height: 2px;
  animation-duration: 12s;
  animation-delay: 4s;
}
.ash-particle:nth-child(15) {
  left: 65%;
  width: 3px;
  height: 3px;
  animation-duration: 17s;
  animation-delay: 1s;
}
.ash-particle:nth-child(16) {
  left: 75%;
  width: 2px;
  height: 2px;
  animation-duration: 14s;
  animation-delay: 3s;
}
.ash-particle:nth-child(17) {
  left: 85%;
  width: 4px;
  height: 4px;
  animation-duration: 16s;
  animation-delay: 0s;
}
.ash-particle:nth-child(18) {
  left: 95%;
  width: 3px;
  height: 3px;
  animation-duration: 18s;
  animation-delay: 5s;
}
.ash-particle:nth-child(19) {
  left: 5%;
  width: 2px;
  height: 2px;
  animation-duration: 13s;
  animation-delay: 2s;
}
.ash-particle:nth-child(20) {
  left: 48%;
  width: 3px;
  height: 3px;
  animation-duration: 15s;
  animation-delay: 4s;
}

@keyframes ashFall {
  0% {
    top: -10%;
    opacity: 0;
    transform: translateX(0) rotate(0deg);
  }
  10% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    top: 110%;
    opacity: 0;
    transform: translateX(50px) rotate(360deg);
  }
}
