/* Глобальные стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Скрываем все Google элементы с адресами */
.gm-style .gm-style-cc,
.gm-style a[href^="https://maps.google.com"],
.gm-style [title*="Google"],
.gm-style .gm-iv-address,
.gm-style .place-card,
.gm-style .place-name,
.gm-style-iw {
  display: none !important;
  visibility: hidden !important;
}
